
{% extends "index.html" %}

{% block title %}Articles{% endblock %}

{% block aside_content %}
    {% for project in spotlighted %}
        <hr/>
        <a href="{{ project.get_absolute_url }}" class="a_inverse">{{ project.name }}</a>
    {% endfor %}
{% endblock %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <time>&#123;&#123; {{ post.date_created }} &#125;&#125;</time>
    {% for category in post.category_set.all %}
        <a href="{{ category.get_absolute_url }}">{{ category }}</a>
    {% endfor %}
    <hr>

    <p>
        {{ post.content|safe }}
    </p>

    <hr>
    {% if comments %}
        <p class="my_h2">Comments:</p>
        <hr>
        {% for comment in comments %}
            <p class="my_h3">{{ comment.author }}:</p>
            <p>{{ comment.text }}</p>
        {% endfor %}
    {% endif %}

    <form class="comment-form" action="#" method="post">{% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}
