{% extends "index.html" %}

{% block title  %}
    Articles
{% endblock %}

{% block aside_title %}Categories:{% endblock %}
{% block aside_content %}
    {% for category in categories %}
    <h2 class="my_h2"><a href="{{ category.get_absolute_url }}" class="a_inverse">{{ category.name }}</a></h2>
    <hr class="dotted">
    {% endfor %}
{% endblock %}

{% block content %}
    <div style="position: relative;z-index: 1">
        <h2 class="my_h1" style="z-index: 4">{{ page_title }}</h2>
        {% if page_moto %} <p>{{ page_moto }}</p> {% endif %}
    </div>
    {% if page_cover %}
    <img src="/media/{{ page_cover }}" style="position: relative; width: 640px;
    {% endif %}
    margin-top: -90px; z-index: 0; width: 600px; height: 200px;"/>
    <hr>
    <ul>
        {% for post in posts %}
        <li>
            <a href='{{ post.get_absolute_url }}' class="my_h1">{{ post.title }}</a>

            <div class="my_h3">
                {% for category in post.category_set.all %}
                {% if not forloop.first %} | {% endif %}
                <h3><a href="{{ category.get_absolute_url }}" class="a_inverse">{{ category.name}}</a></h3>
                {% endfor %}
            </div>
            <h4 class="my_h3">{{ post.description }}</h4>
            <hr>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
