
{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h2>Welcome to MyBlog</h2>
        <div>
            Text
       </div>
    <div class="cleaner"></div>
    <div class="cleaner_h20"></div>
    <h2>Posts:</h2>

    {% for post in posts %}
        <h2>
            <a href='{{ post.get_absolute_url }}' class="pix_link">
                {{ post.title|upper }}
            </a>
        </h2>
    {% endfor %}
    <div class="button float_r">
        <a href="/articles/">Read More...</a>
    </div>
{% endblock %}
