{% extends "index.html" %}

{% block title  %}
    Projects
{% endblock %}

{% block aside_title %}Spotlight:{% endblock %}
{% block aside_content %}
    {% for post in related_posts %}
        <hr />
        <h2 class="my_h2"><a href="{{ post.get_absolute_url }}" class="a_inverse">{{ post.title }}</a></h2>
    {% endfor %}
{% endblock %}

{% block content %}
    <span class="my_h1">Projects:</span>
    <hr>
    <ul>
        {% for project in projects %}
        <li>
            <h2>
                <a href='{{ project.get_absolute_url }}' class="a_inverse">{{ project.name }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>
{% endblock %}

