
{% extends "index.html" %}

{% block title %}Projects{% endblock %}

{% block content %}

    <p class="my_h1">{{ project.name }}</p>
    <hr>

    <p>{{ project.content|safe }}</p>

    <hr>
    <p class="my_h2">Related Articles:</p>
    {% if project.related_posts %}
        {% for post in project.related_posts.all %}
        <a href="{{ post.get_absolute_url }}" class="my_h3">{{ post.title }}</a><br>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block aside_title %}Spotlight:{% endblock %}
{% block aside_content %} 
    {% for project in related_projects %}
    <a href="{{ url }}" class="my_h2 a_inverse">{{ project.name }}</a><br>
    {% endfor %}
{% endblock %}


